<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Labo Souls</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <ul class="lista-header">
        <li><a href="" id="allgames">Juegos</a></li>
        <li><a href="/index.html">Logo</a></li>
        <li><a href="/index.html" id="weapons">Nosotros</a></li>
      </ul>
    </header>
    <form action="">
      <input
        type="search"
        id="search"
        placeholder="Search for image..."
        autocomplete="photo"
      />
      <button class="btn-search" id="btn-search">Buscar 🔎</button>
    </form>
    <main class="results" id="results"></main>
    <button id="btn-show-more">Show more +</button>
    <script type="module" src="../main.js"></script>
  </body>
</html>
