body {
  background-color: #000;
}

.text {
  color: #fff;
  font-size: 25px;
}

.contPresentacion {
  position: absolute;
  top: 35%;
  left: 30%;
}

.listPerfiles {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}

.img-presentacion:hover {
  border: 1px solid #fff;
}

p {
  color: #aaa;
}

p:hover {
  color: #fff;
}
